.characterEditor {
  padding: 128px 32px 64px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .characterEditor {
    width: 100vw;
    height: 150vh;
    padding: 12px 24px;
  }
}

.maxWidthWrapper {
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;
}

@media (max-width: 1000px) {
  .header {
    width: 100%;
    padding: 0;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

@media (max-width: 1000px) {
  .title {
    font-size: 1.6rem;
  }
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  height: 90%;
  min-height: 500px;
  width: 50%;
  position: fixed;
  top: 10%;
  left: 60%;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .characterWrapper {
    width: 100%;
    position: relative;
    top: 2%;
    left: 0;
    right: 0;
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
}

.controlColumn {
  width: 50%;
}

@media (max-width: 1000px) {
  .controlColumn {
    width: calc(100% - 48px);
    overflow: auto;
    white-space: nowrap;

    position: fixed;
    top: 55%;
    z-index: 1;

    display: flex;
    column-gap: 16px;
  }
}

.perspectiveBar {
  height: 40vh;
  width: 100%;
  background-color: hsl(195deg, 20%, 86%);
  position: fixed;
  bottom: 0;
}

@media (max-width: 1000px) {
  .perspectiveBar {
    width: 0;
    height: 0;
  }
}
